/*css調整*/
$window-max-width:1500px;
$window-long-width:1100px;
$window-base-width:840px;
$window-header-width: 1000px;
$window-bottom-change:1140px;
$window-middle-width:1000px;
$mobile-base-width:100%;
$window-main-width: 1200px;

$breakpoint-header-res: 1300px;
$breakpoint-pc-res: 1250px;
$breakpoint-tablet: 1040px;
$breakpoint-mobile: 769px;
$breakpoint-mobile-min: 768px;
$breakpoint-smart: 420px;
$breakpoint-5s: 340px;

$head-black-color: #707070;
$border-color: #707070;
$base-color: #42A8E4;
$sns-border-color: #DBDBDB;
$base-red-color: #FF0000;
$base-yellow-color: #fff100;
$base-orange-color: #f8b51a;
$base-green-color: #86b33e;
$base-blue-color: #00afec;
$base-brown-color: #b28247;
$base-font-color: #5C5C5C;
$base-font-brown-color: #785101;
$baes-pink-color: #ea609e;
$select-border-color: #EBEBEB;
$base-brown-color: #BE906F;

$heart-color: #909090;

$slick-gray-color: #9FA0A0;

$base-text-size: 1.9em;
$base-title-size: 2.5em;

@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin screen($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}
body {
  font-size: 62.5%;
  font-weight: 500;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Noto Sans JP' , "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  @include max-screen($breakpoint-tablet) {
    overflow-x: auto;
  }
  @include max-screen($breakpoint-mobile) {
    width: 100%;
    overflow-x: hidden;
  }
}
img {
  max-width: $window-base-width;
}

a {
  &:hover {
    opacity: 0.6;
  }
}

@mixin default-layout() {
  width: $window-base-width;
  margin: 0 auto;
  @include max-screen($breakpoint-mobile) {
    width: 100%;
  }
}