.Detail {
  padding-bottom: 60px;
  &__box {
    background-color: white;
    &--other {
      margin-bottom: 3px;
    }
    &__thanks {
      padding: 0 20px 20px;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      &__user {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        &__icon {
          margin-right: 5px;
          &__img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 25px;
          }
        }
        &__text {
          &__name {
            font-size: 1.4em;
            font-weight: bold;
            margin-bottom: 3px;
            color: $head-black-color;
          }
          &__position {
            color: $head-black-color;
          }
        }
      }
      &__tag {
        padding: 5px 10px;
        border-radius: 15px;
        text-align: center;
        color: $head-black-color;
        border: 1px solid $select-border-color;
        text-decoration: none;
      }
    }
    &__wrap {
      position: relative;
    }
    &__finish {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 5px;
      font-size: 1.4em;
      color: white;
      font-weight: bold;
      background-color: $base-brown-color;
      z-index: 5;
    }
    &__images {
      margin-bottom: -5px!important;
      min-height: 150px;
      &__img {
        width: 100%;
        height: auto;
      }
    }
    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $select-border-color;
      padding: 10px;
      &__good {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        &__heart {
          font-size: 1.4em;
          color: $heart-color;
          display: inline-block;
          margin-right: 5px;
          &.on {
            color: red;
          }
        }
        &__text {
          font-size: 1.2em;
          font-weight: bold;
          color: $head-black-color;
          &__count {

          }
        }
      }
      &__time {
        color: $head-black-color;
        font-size: 1.2em;
        font-weight: bold;
      }
    }
    &__content {
      padding: 20px 10px;
      &__date {
        margin-bottom: 20px;
        font-size: 1.2em;
        color: $head-black-color;
      }
      &__title {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 1.4em;
        color: $head-black-color;
      }
      &__text {
        font-size: 1.4em;
        color: $head-black-color;
        white-space: pre-wrap;
        word-wrap: break-word;
        &--other {
          height: 70px;
          overflow: hidden;
        }
      }
      &__show {
        border-radius: 8px;
        border: 1px solid $select-border-color;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
        &__text {
          font-size: 1.2em;
          color: $head-black-color;
        }
        &__img {
          width: 8px;
          margin-left: 5px;
        }
      }
    }
    &__person {
      border: 1px solid $select-border-color;
      padding: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
      position: relative;
      &__icon {
        margin-right: 5px;
        &__img {
          width: 50px;
          height: 50px;
          border-radius: 25px;
          object-fit: cover;
        }
      }
      &__text {
        &__head {
          font-weight: bold;
          color: $base-color;
        }
        &__name {
          font-size: 1.4em;
          font-weight: bold;
          color: $head-black-color;
        }
        &__position {
          color: $head-black-color;
        }
      }
      &:after {
        position: absolute;
        content: '';
        right: 15px;
        top: calc( 50% - 8px);
        width: 9px;
        height: 17px;
        background-image: url("../image/giv_right_arrow.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
  &__date {
    background-color: white;
    padding: 20px 10px;
    margin-bottom: 3px;
    &__title {
      font-size: 1.4em;
      color: $head-black-color;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &__info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 20px;
      &__img {
        height: 16px;
        margin-right: 5px;
      }
      &__text {
        font-size: 1.2em;
      }
    }
    &__regist {
      border: 1px solid $base-color;
      color: $base-color;
      font-size: 1.2em;
      text-decoration: none;
      height: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;

    }
  }
  &__place {
    background-color: white;
    padding: 20px 0;
    &__info {
      padding: 0 10px;
      margin-bottom: 20px;
      &__title {
        font-size: 1.4em;
        color: $head-black-color;
        font-weight: bold;
        margin-bottom: 10px;
      }
      &__text {
        font-size: 1.2em;
        color: $head-black-color;
      }
    }
    &__map {
      margin-bottom: 20px;
    }
    &__link {
      text-align: center;
      padding: 0 10px;
      &__btn {
        border: 1px solid $select-border-color;
        color: $head-black-color;
        font-size: 1.2em;
        text-decoration: none;
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
      }
    }
  }
  .ThanksCard {
    padding: 20px 10px;
    background-color: white;
    &__btn {
      text-decoration: none;
      color: white;
      font-size: 1.2em;
      height: 50px;
      width: 100%;
      background-color: $base-color;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
    }
  }
}

.Comment {
  margin-top: 20px;
  background-color: white;
  padding: 10px;
  &__title {
    font-size: 1.8em;
  }
  &__box {
    padding-bottom: 10px;
    position: relative;
    &__delete {
      padding: 2px 5px;
      background-color: red;
      color: white;
      font-size: 1.2em;
      position: absolute;
      right: 0;
      top: 0;
    }
    &__name {
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: 5px;
    }
    &__text {
      margin-bottom: 0;
      font-size: 1.4em;
    }
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    white-space: pre-wrap;
  }
  &__send {
    &__textarea {
      margin-bottom: 10px;
    }
    &__btn {

      text-decoration: none;
      color: white;
      font-size: 1.2em;
      height: 50px;
      width: 100%;
      background-color: $base-color;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
    }
  }
}
