.Header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  border-bottom: 1px solid $border-color;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 100;
  &__logo {
    &__img {
      height: 50px;

    }
  }
  &__mypage {
    &__img {
      height: 50px;
    }
  }
}