.Home {
  padding: 70px 10px 20px;
  &__cards {
    padding-bottom: 80px;
  }
  &__card {
    margin-bottom: 20px;
    background-color: white;
    border-radius: 16px;
    &__header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 15px;
      text-decoration: none;
      &__icon {
        margin-right: 5px;
        &__img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 25px;
        }
      }
      &__text {
        &__name {
          font-size: 1.4em;
          font-weight: bold;
          margin-bottom: 3px;
          color: $head-black-color;
        }
        &__position {
          color: $head-black-color;
        }
      }
    }
    &__view {
      width: 100%;
      height: 250px;
      display: block;
      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &__content {
      padding: 10px 15px;
      &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        &__tags {
          &__tag {
            padding: 5px 10px;
            border-radius: 15px;
            text-align: center;
            color: $head-black-color;
            border: 1px solid $select-border-color;
            text-decoration: none;
          }
        }
        &__date {
          font-size: 1.4em;
          color: $head-black-color;
        }
      }
      &__title {
        color: $base-font-color;
        line-height: 1.8;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 1.8em;
        display: block;
        text-decoration: none;
      }
      &__text {
        color: $base-font-color;
        line-height: 1.8;
        margin-bottom: 20px;
        font-size: 1.6em;
        display: block;
        text-decoration: none;
      }
      &__person {
        border: 1px solid $select-border-color;
        padding: 10px 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        position: relative;
        border-radius: 10px;
        &__icon {
          margin-right: 5px;
          &__img {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            object-fit: cover;
          }
        }
        &__text {
          &__head {
            font-weight: bold;
            color: $base-color;
            margin-bottom: 5px;
          }
          &__name {
            font-size: 1.4em;
            font-weight: bold;
            margin-bottom: 0;
            color: $head-black-color;
          }
          &__position {
            color: $head-black-color;
          }
        }
        &:after {
          position: absolute;
          content: '';
          right: 15px;
          top: calc( 50% - 8px);
          width: 9px;
          height: 17px;
          background-image: url("../image/giv_right_arrow.png");
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
