.Search {
  position: relative;
  &__box {
    padding: 10px 10px 0;
    background-color: white;
    margin-bottom: 3px;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 2;
    &__form {
      position: relative;
      &__input {
        width: 100%;
        -webkit-appearance: none;
        height: 40px;
        display: flex;
        padding-left: 10px;
        padding-right: 35px;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.4em;
        color: $head-black-color;
        border-radius: 4px;
        background-color: #F0F0F0;
      }
      &__submit {
        position: absolute;
        right: 10px;
        top: 0;
        height: 40px;
        -webkit-appearance: none;
        background-image: url("../image/search.png");
        width: 30px;
        background-size: 18px 19px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &__tags {
      overflow-x: auto;
      white-space: nowrap;
      padding: 10px 0;
      -webkit-overflow-scrolling: touch;
      &__tag {
        display: inline-block;
        padding: 5px 15px;
        margin-right: 5px;
        border-radius: 15px;
        text-align: center;
        color: $head-black-color;
        border: 1px solid $select-border-color;
        text-decoration: none;
      }
    }
  }
  &__list {
    overflow: scroll;
    height: auto;
    margin-bottom: 0;
    padding-top: 100px;
    &__li {
      margin-bottom: 3px;
      &__link {
        background-color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        padding: 10px;
        position: relative;
        &__icon {
          margin-right: 5px;
          &__img {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            object-fit: cover;
          }
        }

        &__text {
          &__name {
            font-size: 1.4em;
            font-weight: bold;
            color: $head-black-color;
            margin-bottom: 5px;
            line-height: 1;
          }
          &__position {
            color: $head-black-color;
            font-weight: bold;
          }
          &__tags {
            margin-bottom: 0;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            &__text {
              margin-top: 3px;
              margin-right: 5px;
              display: inline-block;
              padding: 3px 5px;
              border-radius: 15px;
              text-align: center;
              color: #707070;
              border: 1px solid #EBEBEB;
            }

          }
        }
        &:after {
          position: absolute;
          content: '';
          right: 15px;
          top: calc( 50% - 8px);
          width: 9px;
          height: 17px;
          background-image: url("../image/giv_right_arrow.png");
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
