@import "reset";
@import "common";
@import "vue-select/src/scss/vue-select.scss";


body {
  width: 100%;
  max-width: $window-base-width;
  margin: 0 auto;
  background-color: #EDF3F7;
  overflow: hidden;
  @include max-screen($breakpoint-mobile) {
    width: 100%;
  }

}

.Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -120px!important;

  @include max-screen($breakpoint-mobile) {
    display: block;
    margin-top: -40px!important;
  }
  &__icon {
    width: 35%;
    @include max-screen($breakpoint-mobile) {
      width: 100%;
    }
  }
  &__box {
    width: 65%;
    @include max-screen($breakpoint-mobile) {
      width: 100%;
    }
    h2 {
      font-size: 3.1em;
      @include max-screen($breakpoint-mobile) {
        font-size: 2.0em;
      }
    }
  }
}

.Inner {
  padding: 100px 0;
  @include max-screen($breakpoint-mobile) {
    padding: 80px 20px;
  }
}

.Main {
  padding-top: 70px;
  padding-bottom: 60px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.Spinner {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  &__box {
    background-color: white;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__text {
      font-size: 1.6em;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}

@import "header";
@import "invite";
@import "regist";
@import "footer";
@import "home";
@import "detail";
@import "user";
@import "givlist";
@import "form";
@import "notification";
@import "search";
@import "edit";
